{% extends 'account/home.html' %}


{% block contents %}

<!-- component -->
{% comment %} <div class="mt-16 relative px-auto w-full h-60 overflow-hidden">
  <a class="  text-red-400 hover:text-red-500" href="{% url 'blog:post_list'%}">Back</a>
  <a class=" px-8 text-red-400 hover:text-red-500" href="share">Share post</a>
</div> {% endcomment %}

<main class="relative container mt-24 mx-auto bg-white px-4">
  <div class="mt-16 relative px-auto w-full h-full overflow-hidden">
    <img class=" w-4/5  mx-auto py-8 text-justify"
      src="{{post.img.url}}"
      alt="post-img" />
  </div>

  <article class="w-4/5 mx-auto py-8 text-justify">
    <h1 class="text-2xl font-bold">{{ post.title }}</h1>
    <h2 class="mt-2 text-sm text-gray-500">{{ post.author.first_name }}, <span class="px-2">{{ post.date_posted|date }}</span></h2>

    <p class="mt-4">{{post.description|safe}}</p>
   
  </article>
</main>

{% endblock contents %}