{% extends 'account/home.html' %}
{% load static %}
{% block contents %}


<!-- profile component -->


<div
    class="bg-white my-12 pb-6 w-full justify-center items-center overflow-hidden md:max-w-4xl rounded-lg shadow-sm mx-auto">
    <div class="relative h-40">
        <img class="absolute h-full w-full object-cover"
            src="https://media.istockphoto.com/vectors/hands-holding-smartphones-vector-id1280873974?k=20&m=1280873974&s=612x612&w=0&h=r0i0Rfi52kXoG19ERg-V0eH9FecsBQTzsjzE0n6m_Lw=">
    </div>
    <div class="relative shadow mx-auto h-32 w-32 -my-12 border-white rounded-full overflow-hidden border-4">
        <img class="object-cover w-full h-full" src="{{ u.profile.avatar.url }}">
    </div>
    <div class="mt-16">
        <h1 class="text-lg text-center font-semibold">
            {{u.first_name}} <span class='px-0.5'></span>{{u.last_name}}
        </h1>
        <p class="text-sm text-gray-600 text-center">
            {% if request.user != u %}
            {{mfrnd_count}} connections in common
            {% endif %}
            {{p.bio}}
        </p>
    </div>


    <!-- friend list component -->
    {% if request.user == u %}
    <div class="bg-gray-50 my-12 pb-4 px-4 rounded-md w-full">
        <p class="ml-3 text-bold text-2xl">Friend list</p>
        
        <div class="overflow-x-auto mt-6">
            {% if friends %}
            <table class="table-auto border-collapse w-full">
                <tbody class="text-sm font-normal text-gray-700">
                    {% for user_p in friends %}
                    <tr class="  hover:bg-gray-100 border-b border-gray-200 shadow-md rounded-md py-10">
                        <td class="px-4 py-4 text-md text-bold ">
                            <a href="{{ user_p.get_absolute_url }}"><img src="{{ user_p.avatar.url }}" class="rounded-full w-16 h-16"/></a>
                            
                        </td>
                        <td class="px-4 py-4 text-md text-bold ">
                            
                            <a class=" text-gray-700 text-bold text-xl py-4 px-48 hover:text-blue-600" href="{{ user_p.get_absolute_url }}">{{ user_p.user.first_name }} <span class='pl-1'>{{ user_p.user.last_name }}</span></a>
                        </td>

                    </tr>

                    {% endfor %}
                    {% else %}

                    <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                        <td class="px-4 py-4"> <a class="text-dark">
                                You dont have any friends, find one <a href="#"
                                    class='text-blue-500 hover:text-blue-700'> here!</a>
                        </td>

                    </tr>


                </tbody>
                {% endif %}
            </table>
        </div>

    </div>
    {% endif %}
    <!--mutual friends component-->
    {% if request.user != u %}
    <div class="bg-gray-50 my-12 pb-4 px-4 rounded-md w-full">
        <p class="ml-3 text-bold text-2xl">Mutule Friends</p>
        
        <div class="overflow-x-auto mt-6">
            {% if friends %}
            {% for user_p in friends %}
            <table class="table-auto border-collapse w-full">
                <tbody class="text-sm font-normal text-gray-700">
                    <tr class="  hover:bg-gray-100 border-b border-gray-200 shadow-md rounded-md py-10">
                        <td class="px-4 py-4 text-md text-bold ">
                            <a href="{{ user_p.get_absolute_url }}"><img src="{{ user_p.avatar.url }}" class="rounded-full w-16 h-16"/></a>
                            
                        </td>
                        <td class="px-4 py-4 text-md text-bold ">
                            
                            <a class=" text-gray-700 text-bold text-xl py-4 px-48 hover:text-blue-600" href="{{ user_p.get_absolute_url }}">{{ user_p.user.first_name }} <span class='pl-1'>{{ user_p.user.last_name }}</span></a>
                        </td>

                    </tr>

                    {% endfor %}
                    {% else %}

                    <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                        <td class="px-4 py-4"> <a class="text-dark">
                                You dont have any friends, find one <a href="#"
                                    class='text-blue-500 hover:text-blue-700'> here!</a>
                        </td>

                    </tr>


                </tbody>
                {% endif %}
            </table>
        </div>

    </div>
    {% endif %}

    <!-- friend Request component -->
    
    {% if u == request.user %}
    <div class="bg-gray-50 my-12 pb-4 px-4 rounded-md w-full">
        <p class="ml-3 text-bold text-2xl">Friend Request's Received!</p>
        <div class="flex justify-between w-full pt-6 ">
            {% if not rec_friend_requests %}
            <p>No Friend request received!</p>



            {% else %}


            <table class="table-auto border-collapse w-full">

                <tbody class="text-md font-normal text-gray-700">
                    {% for r_request in rec_friend_requests %}
                    <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
                        <td class="px-4 py-4">
                            <a href="{{ r_request.from_user.profile.get_absolute_url }}"><img
                                    src="{{ r_request.from_user.profile.avatar.url }}" class="rounded full w-16 h-16"
                                    alt="user-frnd-rqst-img" /></a></td>
                        <td class="px-4 py-4"> <a class=""
                                href="{{ r_request.from_user.profile.get_absolute_url }}"><b>{{ r_request.from_user.first_name }}</b>
                            </a></td>
                        <td class="px-4 py-4"><a href="/users/friend-request/accept/{{ r_request.from_user.id }}"
                                class=' px-4 py-2 rounded-md border-1 text-md text-white bg-blue-500 hover:bg-blue-600'>Accept
                            </a>
                        </td>
                        <td class="px-4 py-4"><a href="/users/friend-request/delete/{{ r_request.from_user.id }}"
                                class=' px-4 py-2 rounded-md border-1 text-md text-white bg-red-500 hover:bg-red-600'>Cancel
                            </a></td>

                    </tr>
                    {% endfor %} {% endif %} {% endif %}



                </tbody>
            </table>
        </div>
    </div>
</div>





</div>



</div>




{% endblock contents %}